# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deno CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: install deno
      run: curl -fsSL https://deno.land/x/install/install.sh | sh
    - run: npm ci
    - run: npm run build:deno
    - name: run deno test
      env:
        DENO_INSTALL: /home/runner/.deno
        PATH: $DENO_INSTALL/bin:$PATH
      run: npm run test:deno
