name: Deno CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "21 8 * * *"

jobs:
  deno-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: cache deno
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-deno-${{ hashFiles('**/package.json') }}
          path: /home/runner/.cache/deno/deps/

      - name: setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: show deno version
        run: deno --version

      - name: install latest npm
        run: npm i -g npm

      - name: install nodejs dependencies
        run: npm ci

      - name: Run deno test
        run: npm run test:deno
